p {
    color: green;
    font-size: 20px;
    text-align: center;
}

div{
	@media = "screen and (min-width =  600px)" {
p {
    font-size: 12px
}
}
}

body {
background-image: url("UB.jpeg");	
}

#first-paragraph {
	font-family: helvetica, san-serif;
font-size: 16px;
color: blue;
}

