p {
    font-size: 20px;
    text-align: center;
    border-style: solid;
}

div{
	@media = "screen and (min-width =  600px)" {
p {
    font-size: 12px;
    border-style: single;
}
}
}

body {
	background-image: url("UB.jpeg");
	border-style: double;
}

#first-paragraph {
	font-family: helvetica, san-serif;
	font-size: 16px;
}

ul {
	font-size: 16px;
	border-style: single;
}

#myimage {
	width: 200px;
	height: 100px;
}

